body{
    font-family: 'Roboto', sans-serif;
    margin:0px;
}
.nav{
    height:171px;
    background-color: white;
    margin:0px 263px 0px 263px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.nav .navigationbar{
    opacity:1;
}
.nav li{
    float:right;
    font-size: 20px;
    list-style-type: none;
    color:#707070;
    margin-left: 40px;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;  
}

.nav li:hover{
    color:#395D6C;
}
#nav1{
    animation: navbar 1s;
}
@keyframes navbar{
    from{
       transform: translateY(-100px);
    }
    to{
        transform: translateY(0px);
    }
}

#nav2{
    animation: navbar2 1.5s;
}
@keyframes navbar2{
    from{
        transform: translateY(-250px)
    }
    to{
        transform: translateY(0px);
    }
}
#nav3{
    animation: navbar3 2s;
}
@keyframes navbar3{
    from{
        transform: translateY(-350px)
    }
    to{
        transform: translateY(0px)
    }
}
/*Header*/

.Header{
    margin: 0px 263px 0px 263px;
    height:597px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 166px 166px 266px;
    grid-template-areas: 
    "title      download"
    "paragraph  sideicons"
    "buttons    buttons";

}
.title {
grid-area: title;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.title hr{
    border:2px solid #D6A075;
    width: 70px;
    position: absolute;
    top: 268px;
    animation: line 1s;
}
@keyframes line{
    from{
        width: 200px;
        transform:  translateX(-500px)  
    }
    to{
        width: 70px;
        transform:  translateX(0) 
    }
}
.title h1 {
    color:#395D6C;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 210px;
    left: 350px;
    animation: hello 1s;  
}
@keyframes hello{
    from{
        letter-spacing: 20px;
        opacity:0
    }
    to{
        letter-spacing: 0px;
        opacity:1
    }
}
.title h2 {
    color:#395D6C;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 267px;  
}
.paragraph {
    grid-area: paragraph;
    color:#707070;
    font-size: 23px;
    width: 380px;
    position:absolute;
    top: 330px;
    margin-top: 35px;
    line-height: 32px;
}

.download {
    grid-area: download;
    display: flex;
    position: absolute;
    top:250px;
    right:263px;
    width:169px;
    height:40px;
    border-radius: 12px;
    box-shadow: 0 3px 6px  lightgrey;
    justify-content: center;
    align-items: center;
    border-style: none;
    cursor: pointer; 
}
.download p{
    text-align: center;
    float: right;
    font-size: 17px;
    color:#D6A075;
}
.overflow{
position: absolute;
left:0;
right: 100%;
border-radius: 12px;
background-color: #395D6C;
width:0;
height:100%;
overflow: hidden;
align-items: center;
justify-items: center;
transition: .5s ease;
}
.text{
    color: white;
    font-size: 17px;
    position: relative;
    top:9px;
    text-align: center;  
}
.download:hover .overflow{
    width:100%;
    height:100%;
}


.sideicons {
    grid-area: sideicons;
    display: flex;
    flex-direction: column;
    position: absolute;
    right:263px; 
    cursor:pointer;
}
.fig1 img, .fig2 img, .fig3 img {
    width: 60px;
    height: 60px;
    
}
.fig1, .fig2, .fig3{
    display:inline-flex;
    position:relative;
    top:160px; 
    justify-content: flex-end;
   
}
.fig2 p, .fig3 p{
    position: relative;
    margin-left: 10px;
}

.buttons{
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    position:relative;
    margin-top: 50px;
    cursor:pointer;
    
}
.but1 img, .but2 img, .but3 img{
    width: 105px;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 100%;
    border: 0 solid white;
}
.but1, .but2, .but3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 136px;
}
.but1 p, .but2 p, .but3 p{
font-size: 18PX;
color: #AC774C;
}
.overlay{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay img{
    width:107px;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 100%;
    border: 0 solid white;
    position: relative;
    top: -165px;
}
.overlay p{
    color: #386C81;
    position: relative;
    left:30px;
    top: -171px;
 }
.but1:hover .overlay{
    opacity:1;
}

.overlay2{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay2 img{
    width:107px;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 100%;
    border: 0 solid white;
    position: relative;
    top: -165px;
    left:7px;
}
.overlay2 p{
    color: #386C81;
    position: relative;
    top: -171px;
 }
 .but2:hover .overlay2{
    opacity:1;
}
.overlay3{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay3 img{
    width:107px;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 100%;
    border: 0 solid white;
    position: relative;
    top: -165px;
    left:7px;
}

.overlay3 p{
    color: #386C81;
    position: relative;
    top: -171px;
 }
 .but3:hover .overlay3{
    opacity:1;
}


/*UX*/
.UX{
    display:grid;
    height:768px;
    width: auto;
    background-image: url("../image/Background1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 796px;
    background-position: top left;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "Topicon"
    "UXprojects"
    "upbutton";
}

.Topicon{
    grid-area: Topicon;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: relative;
    top:50px;
}
.Topicon img{
    width:200px;
}
.Topicon hr{
    border:1px solid #386C81;
    width: 230px;
    justify-content: center;
}
.Topicon h1{
    font-size: 25px;
    font-weight: bold;
    width:200px;
    color:#386C81;
    text-align: center;  
}

.UXprojects{
    grid-area: UXprojects;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.UXprojects figure{
    border: 1px solid #919293;
    background-color: white;
    padding:20px;
    width:250px;
    height:260px;
    align-items: center;
    position:relative;
    top:50px;
    cursor:pointer;
}
.UXprojects img{
    width:159px;
    align-items: center;
    justify-items: center;
    margin:20px;
    position:relative;
    left:20px;
}
.UXprojects figcaption{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color:#386C81;
}

.upbutton{
    grid-area: upbutton;
    float: right;
    display: flex;
    position: relative;
    top: 50px;
    right:270px;
    justify-content: flex-end;
    cursor:pointer;
}
.upbutton img{
    width:64px;
    height:64px;
    border-radius: 100%;
    box-shadow: 0px 3px 6px #00000029;
}
.Graphic{
    display:grid;
    width: auto;
    background-image: url("../image/Background2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "Topicon"
    "GDprojects"
    "upbutton";
}

.GDprojects{
    grid-area: GDprojects;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.GDprojects figure{
    border: 1px solid #919293;
    background-color: white;
    padding:20px;
    width:250px;
    height:260px;
    align-items: center;
    position:relative;
    top:50px;
    cursor:pointer;
}
.GDprojects img{
    width:159px;
    align-items: center;
    justify-items: center;
    margin:20px;
    position:relative;
    left:20px;
}
.GDprojects figcaption{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color:#386C81;
}



@media only screen and (max-width:600px){
    .nav .navigationbar{
        opacity: 0;
    }
    .nav{
        margin: 0;
    }
    .Header{
        margin: 0 40px 0 40px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 166px 166px 266px;
        grid-template-areas: 
        "title "
        "paragraph"
        "download"
        "buttons ";
    }
    .sideicons{
        opacity:0;
    }
        .title hr{
            border:2px solid #D6A075;
            width: 70px;
            position: absolute;
            top: 268px;
            left: 145px;
            animation: line 1s;
        }
    .title h1 {
        color:#395D6C;
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        top: 205px;
        left:225px;
            
    }
    .title h2 {
        color:#395D6C;
        font-weight: bold;
        font-size: 25px;
        position: absolute;
        top: 270px;
        left:100px;
        text-align: center;
        
    }
    .paragraph{
        grid-area: paragraph;
        color:#707070;
        font-size: 15px;
        width: 250px;
        position:absolute;
        top: 300px;
        left:105px;
        margin-top: 35px;
        line-height: 25px;
        text-align: center;
    }
    .download {
        grid-area: download;
        display: flex;
        position: absolute;
        top:500px;
        left:150px;
        align-content: center;
        justify-items: center;  
    }
    .buttons{
        grid-area: buttons;
        display: flex;
        flex-direction: row;
        position:absolute;
        top: 550px;
        left: 30px;
        cursor:pointer;
        
    }
    .but1 img, .but2 img, .but3 img{
        width: 60px;
        box-shadow: 0 3px 6px #00000029;
        border-radius: 100%;
        border: 0 solid white;
    }
    .but1, .but2, .but3{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right:50px;
    }
    .but1 p, .but2 p, .but3 p{
    font-size: 12PX;
    color: #AC774C;
    }

}